<!DOCTYPE html>
<html>
  <head>
    <title>Data Visualization</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
  </head>
  <script src="/socket.io/socket.io.js"></script>

  <style>
    body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: auto;
      position: relative;
      width: 960px;
    }
    button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  </style>

  <button onclick="streamgraph.transition(socket)">Update</button>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="javascripts/streamgraph.js"> </script>
  <script>
    var socket = io();

    socket.on('init event stream', function (data) {
      console.log("Received event stream response");
      console.log(data);
      streamgraph.initGraph(data);
    });

    socket.on('event stream', function (data) {
      console.log("Received event stream response");
      streamgraph.shiftDataWindow(data);
    });
  </script>
</html>


